<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
		integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
		crossorigin="anonymous">
	<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
	<title>Dr. Helpy</title>
	<link rel="icon" href="./images/healthcare.png" type="image/x-icon">

	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

	<!-- font awesome cdn link  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	<!-- css file link  -->
	<link rel="stylesheet" href="/CSS/Project1.css">
</head>

<body>
	<!-- header section start here  -->
	<%- include('./partials/navbar.ejs'); %>
		<!-- header section end here -->


		<div class="container">
			<% productdata.forEach(data=>{ %>
				<div class="col-xs-12 col-md-4">
					<!-- First product box start here-->
					<div class="prod-info-main prod-wrap clearfix">
						<div class="row">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="product-image">
									<img src="/<%= data.img %>" class="img-responsive img-fluid " height="250px">

								</div>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12">
								<div class="product-deatil">
									<h5 class="name">
										<a href="singleproduct/<%= data._id %>">
											<%= data.name %>
										</a>
										<a href="#">
											<span>Medical</span>
										</a>

									</h5>
									<p class="price-container">
										<span>
											<%= data.price %>
										</span>
									</p>
									<span class="tag1"></span>
								</div>
								<div class="description">
									<p>
										<%= data.desc.slice(0,30) %>...
									</p>

								</div>
								<div class="product-info smart-form">
									<div class="row">
										<div class="col-md-12 ">
											<% var chk2=cartlist.filter(ele=> ele.id===data.id) %>
												<% if(chk2.length===0){ %>
													<a class="btn btn-danger active addcart" iddata="<%= data.id %>">Add
														to cart</a>
													<% } else{%>
														<button type="button" class="btn btn-default btn-lg"
															disabled="disabled" style="color: black;">Add to
															cart</button>
														<% } %>

															<a href="singleproduct/<%= data._id %>"
																class="btn btn-info active">More info</a>
										</div>
										<div class="col-md-12">
											<div class="rating">Rating:
												<% for(let i=1;i<=Number(data.rating);i++){%>
													<label for="stars-rating-5"><i
															class="fa fa-star text-danger"></i></label>
													<% } %>
														<% for(let i=Number(data.rating)+1;i<=5;i++){%>
															<label for="stars-rating-5"><i
																	class="fa fa-star text-warning"></i></label>
															<% } %>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end product -->
				</div>
				<% }) %>



		</div>


		<%- include('./partials/footer.ejs'); %>


		<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
		<script src="/JS/Project.js"></script>

</body>

</html>