<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Helpy</title>
    <link rel="icon" href="./images/healthcare.png" type="image/x-icon">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- icons css file link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/CSS/Project1.css">

</head>

<body>

    <!-- header section starts  -->

    <%- include('./partials/navbar.ejs'); %>

        <!-- header section ends -->

        <!-- bottom navbar  -->

        <nav class="bottom-navbar">
            <a href="#home" class="fas fa-home"></a>
            <a href="#featured" class="fas fa-list"></a>
            <a href="#reviews" class="fas fa-comments"></a>
        </nav>

        <!-- home section starts  -->

        <section class="home" id="home">

            <div class="row">

                <div class="content">
                    <h3>Buy Medicines from here</h3>
                    <p>Get best quality medicines from us at reasonable prices.</p>
                    <a href="/products" class="btn">Buy now</a>
                </div>

                <div class="swiper image-slider">
                    <div class="swiper-wrapper">
                        <a href="#" class="swiper-slide"><img src="images/d1.png" alt=""></a>
                        <a href="#" class="swiper-slide"><img src="images/d2.png" alt=""></a>
                        <a href="#" class="swiper-slide"><img src="images/d3.png" alt=""></a>
                        <a href="#" class="swiper-slide"><img src="images/d4.png" alt=""></a>
                        <a href="#" class="swiper-slide"><img src="images/d5.png" alt=""></a>
                        <a href="#" class="swiper-slide"><img src="images/d6.png" alt=""></a>
                    </div>
                    <img src="images/stand.png" class="stand" alt="">
                </div>

            </div>

        </section>

        <!-- home section ense  -->

        <!-- icons section starts  -->

        <section class="icons-container">

            <div class="icons">

                <i class="fas fa-shipping-fast"></i>
                <div class="content">
                    <a href="#">
                        <h3>free shipping</h3>
                    </a>
                    <p>order over 100rs</p>
                </div>
            </div>

            <div class="icons">
                <i class="fas fa-lock"></i>
                <div class="content">
                    <a href="#">
                        <h3>secure payment</h3>
                    </a>
                    <p>100% secure payment</p>
                </div>
            </div>

            <div class="icons">
                <i class="fas fa-redo-alt"></i>
                <div class="content">
                    <a href="#">
                        <h3>easy returns</h3>
                    </a>
                    <p>10 days returns</p>
                </div>
            </div>

            <div class="icons">
                <i class="fas fa-headset"></i>
                <div class="content">
                    <a href="#">
                        <h3>24/7 support</h3>
                    </a>
                    <p>call us anytime</p>
                </div>
            </div>

        </section>

        <!-- icons section ends -->

        <!-- featured section starts  -->

        <section class="featured" id="featured">

            <h2 class="heading"> <span>EXPLORE - PRODUCTS </span> </h2>
            <div id="Sviewbutton">
                <button onclick="window.location.href='product';" class="viewbutton">View All</button>
            </div>
            <div class="swiper featured-slider">

                <div class="swiper-wrapper">
                    <% productdata.forEach(data=>{ %>
                        <div class="swiper-slide box">

                            <div class="image">
                                <img src="/<%= data.img %>" alt="">
                            </div>
                            <div class="content">
                                <h3><%= data.name %></h3>
                                <div class="price">
                                    <%= data.price %>
                                </div>
                                <a href="product/<%= data._id %>" class="btn">add to cart</a>
                            </div>
                        </div>
                        <% }) %>

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

            </div>

        </section>

        <!-- featured section ends -->

        <!-- hospital search section starts -->        

        <!-- hospital search section ends -->

        <!-- Online consultation section starts  -->
        <section id="consultation">
            <h1 class="heading1"><span> Consult top doctors online for any health concern </span></h1>
            <p> Private online consultations with verified doctors in all specialists</P>
            <div class="consult-container">
                <!-- fist box start here  -->
                <div class="box">

                    <div class="image">
                        <a href="/doctor"> <img src="/images/cough image.png" /> </a>
                    </div>
                    <div class="text">
                        Cold, Cough or fever
                    </div>

                </div>

                <!-- second box -->

                <div class="box">

                    <div class="image">
                        <a href="/doctor"> <img src="images/faceicon.png" /> </a>
                    </div>
                    <div class="text">
                        Ance, Pimple or skin isuues
                    </div>

                </div>
                <!-- Third Box-->
                <div class="box">

                    <div class="image">
                        <a href="/doctor"><img src="images/depreeess.png" /> </a>
                    </div>
                    <div class="text">
                        Dipression or anxiety
                    </div>

                </div>



        </section>

        <!-- Online consultation section ends -->

        <!-- deal section starts  -->

        <section class="deal">

            <div class="content">
                <h3>deal of the day</h3>
                <h1>Get a Appointment With World Best Doctor</h1>
                <p>You are in safe hands, choose the experts and get consulation online</p>
                <a href="/doctor" class="btn">Get Now</a>
            </div>

            <div class="image">
                
                <img src="images/doctor_img.png" alt="">
            </div>

        </section>

        <!-- deal section ends -->


        <!-- reviews section starts  -->

        <section class="reviews" id="reviews">

            <h1 class="heading"> <span>client's reviews</span> </h1>

            <div class="swiper reviews-slider">

                <div class="swiper-wrapper">

                    <div class="swiper-slide box">
                        <img src="images/pic-1.png" alt="">
                        <h3>client</h3>
                        <p>My job is very easy to prospect as a result, and I don't waste my time or other people's time because I know before emailing or calling enough about the company that I know if it is worth pursuing.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <img src="images/pic-2.png" alt="">
                        <h3>client</h3>
                        <p>I love this product and would highly recommend it to anyone with a small sales team and limited budget.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <img src="images/pic-3.png" alt="">
                        <h3>client</h3>
                        <p>Easy to use, great filters, fast, powerful. I loved the fact that you can insert personalised fields on emails.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                    <div class="swiper-slide box">
                        <img src="images/pic-4.png" alt="">
                        <h3>client</h3>
                        <p>The customer service is amazing. Personally met with the [SENSITIVE CONTENT] but their hands-on approach is needed to perfect the system.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <!-- <div class="swiper-slide box">
                        <img src="images/pic-5.png" alt="">
                        <h3>client</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat.
                            Aperiam at sint, eos ex similique facere hic.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <img src="images/pic-6.png" alt="">
                        <h3>client</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat.
                            Aperiam at sint, eos ex similique facere hic.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div> -->

                </div>

            </div>

        </section>

        <!-- reviews section ends -->
        <%- include('./partials/footer.ejs'); %>


        

        <!-- loader  -->

        <div class="loader-container">
            <img src="images/loader-img1.gif" alt="">
        </div>



        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

        <!-- custom js file link  -->
        <script src="/JS/Project.js"></script>


</body>

</html>