<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <title>Dr. Helpy</title>
    <link rel="icon" href="./images/healthcare.png" type="image/x-icon">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- css file link  -->
    <link rel="stylesheet" href="/CSS/Project1.css">

    <style>
        .small-img-group {
            margin-top: 4rem;
            display: flex;
            justify-content: space-between;
        }

        .small-img-col {
            flex-basis: 24%;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <!-- header section start here  -->
    <%- include('./partials/navbar.ejs'); %>


        <!-- header section end here -->

        <section class="container_sproducts my-5 pt-5">

            <div class="row mt-5">

                <div class="col-lg-5 col-md-6 col-6">
                    <img class="" src="/<%= data.img %>" id="MainImg" alt="">

                </div>

                <div class="col-lg-6 col-md-6 col-6">
                    <h3>
                        <%= data.name %>
                    </h3>
                    <!-- <a href="#"> <span>Visit the OPTIMUM NUTRITION Store</span> </a> -->
                    <div class="price">
                        M.R.P. : <span>
                            <%= data.price %>
                        </span>

                    </div>

                    <div class="about_item">
                        <div class="payment">
                            <% if(flag===0){%>
                                <a class="btn btn-danger active addcart" iddata="<%= data.id %>">Add to cart</a>
                                <% } else{ %>
                                    <button type="button" class="btn btn-default btn-lg" disabled="disabled"
                                        style="color: black;">Add to cart</button>
                                    <% } %>

                        </div>

                        <h4>About Item</h4>
                        <ul>
                            <% data.uses.split("\\n").forEach((ele)=>{ %>
                                <li>
                                    <%= ele %>
                                </li>
                                <% }) %>
                        </ul>
                    </div>

                </div>


            </div>

        </section>
        <section class="product-description">



            <div>
                <h2>Product Description</h2>
            </div>
            <!-- <div class="proimag">
            <img src="images/im1.png" alt="">


        </div> -->
            <div class="product_dic">

                <h2>
                    <%= data.name %>
                </h2>
                <p>
                    <%= data.desc %>
                </p>

            </div>




        </section>

        <%- include('./partials/footer.ejs'); %>

            <script src="/JS/Project.js"></script>
</body>

</html>